$gth-blue: #03A9F4;
$gth-accent: #3F51B5;

.gth-ribbon {
  width: 100%;
  height: 40vh;
  background-color: $gth-blue;
  flex-shrink: 0;
  .gth-ribbon__text {
    text-align: center;
  }
}

.gth-main {
  margin-top: -21vh;
  width: 90%;
  height: 900px;
  flex-shrink: 0;
}

.gth-header .mdl-layout__header-row {
  padding-left: 40px;
}

.gth-container {
  max-width: 1600px;
  width: calc(100% - 16px);
  margin: 0 auto;
}

.gth-content {
  margin: 0 auto;
  border-radius: 2px;
  padding: 50px 56px;
  margin-bottom: 80px;
}

.gth-content h3 {
  margin: 0;
  margin-bottom: 10px;
}


.gth-todos-ln {
  text-align: center;
}


@media all and (max-width: 1100px) {
  .gth-banner-text {
    font-size: 95px !important;
  }
}

@media all and (max-width: 950px) {
  .gth-banner-text {
    font-size: 45px !important;
  }
}