
.gth-controls {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
  padding: 15px 0;
  flex-direction: column;
  border-radius: 2px;
}

.gth-btn {
  margin: 0 auto;
  .mdl-button--raised.mdl-button--colored {
    width: 300px;
    color: white;
  }
}

.gth-input {
  margin: 0 auto;
}

.gth-count {
  text-align: center;
}

.gth-progress {
  position: relative;
  bottom: -15px;
  border-radius: 2px;
}